{% include 'cabecera.html' %}

  <br>
  {% if usuario %}
  <div class="container-fluid" >
    {% for archivoA in archivosA %}
    <div class="modal fade" id="detalleModal{{ archivoA[0] }}" tabindex="-1" role="dialog"
      aria-labelledby="detalleModalLabel{{ archivoA[0] }}" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="detalleModalLabel{{ archivoA[0] }}">Detalle del Archivo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/editarDetalle" method="post" enctype=multipart/form-data>
            
            <input name="origen" value="aprobados" hidden>
            
          <div class="modal-body">
            {% if usuario.roll == "CONTROL"%}
            <textarea rows="5" cols="50" name="detalle">{{ archivoA[10] }}</textarea>
            {% endif %}
            {% if usuario.roll == "EMPLEADO" or usuario.roll == "JEFE" %}
            <textarea rows="5" cols="50" name="detalle" disabled>{{ archivoA[10] }}</textarea>
            {% endif %}
            <input name="id_archivo" value="{{archivoA[0]}}" hidden>
            <input name="usuario" type="text" value={{usuario.id}} hidden>
          </div>
          <div class="modal-footer">
            {% if usuario.roll == "CONTROL" %}
            <button type="submit" class="btn btn-info">Modificar</button>
            {% endif %}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="row">
      <div class=" col-md-6 offset-md-3 text-center">
        {% with messages= get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {% for message in messages %}{{ message }}{% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <!-- Modal -->
        {% include 'subir_archivo.html' %}
        
      </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
      <div class="col-12 col-md-1"></div>
      <div class="col-12 col-md-10 ">
        
        <div class="table-responsive" style="background-color: white; border-radius: 10px;padding: 10px;margin: 10px;min-width: 710px;">
          <h3>Aprobados</h3>
          <table class="table  table-bordered text-center table-hover" id="miTabla2">
            <thead class="thead-dark">
              <tr>
                <th style="color: rgb(127, 221, 33);text-align: center;"><i class="fas fa-globe"></i> Centro</th>
                <th style="color: rgb(127, 221, 33);text-align: center;"><i class="fas fa-truck"></i> Proveedor</th>
                <th style="color: rgb(127, 221, 33);text-align: center;"><i class="fas fa-file"></i> Nro factura</th>
                <th style="color: rgb(127, 221, 33);text-align: center;"><i class="fas fa-calendar"></i> Fecha FC</th>
                <th style="color: rgb(127, 221, 33);text-align: center;"><i class="fas fa-edit"></i> Detalle</th>
                <th style="color: rgb(127, 221, 33);text-align: center;"><i class="fas fa-thumbs-up"></i> Aprobado por</th>
                <th style="color: rgb(127, 221, 33);text-align: center;"><i class="fad fa-ballot-check"></i> Opciones</th>
                {% if usuario.roll == "CONTROL" %}
                <th style="color: rgb(127, 221, 33);"><i class="fad fa-bolt"></i> Liberar</th>
                {% endif %}

              </tr>
            </thead>
            <tbody>

              {% for archivoA in archivosA %}

              <tr>
                <td> {{ archivoA[5] }}</td>
                <td> {{ archivoA[4] }}</td>

                <td style="color: rgb(33, 67, 221);">{{ archivoA[6] }}</td>
                <td> {{ archivoA[9] }}</td>
                <td>
                  <p hidden>{{ archivoA[10] }}</p>
                  <a href="#" data-toggle="modal" data-target="#detalleModal{{ archivoA[0] }}"
                    class="btn btn-outline-secondary btn-sm">Detalle</a>
                </td>
                <td> {{ archivoA[11] }}</td>
                <td>
                  <div class="row">
                    <div class="col">
                      <form action="/verPdf" method="post" enctype=multipart/form-data target="_blank"
                        rel="noopener noreferrer">
                        <input type="text" name="id_archivo" value="{{archivoA[0]}}" hidden>
                        <input type="text" name="id" value="{{id}}" hidden>
                        <button type="submit" class="btn  btn-outline-info btn-sm" title="Ver archivo"><i
                            class="fas fa-eye fa-lg" title="Ver"></i></button>
                      </form>
                    </div>
                    {% if usuario.roll != "EMPLEADO" %}
                    <div class="col">
                      <form action="/noAprobar" method="post" enctype=multipart/form-data>
                        <input name="origen" type="text" value="aprobados" hidden>
                        <input type="text" name="id" value="{{id}}" hidden>
                        <input type="text" name="archivo" value="{{archivoA[1]}}" hidden>
                        <button type="submit" class="btn btn-outline-warning btn-sm" title="No aprobar"><i class="fas fa-stop-circle fa-lg"
                            ></i></button>
                      </form>
                    </div>
                    {% endif %}

                  </div>
                </td>
                {% if usuario.roll == "CONTROL" %}
                <td>
                  <div class="row">
                    
                    <div class="col">
                      <form action="/liberar" method="post" enctype=multipart/form-data id="miFormulario">
                        <input name="id_archivo" type="text" value="{{archivoA[0]}}" hidden>
                        <input type="text" name="id" value="{{id}}" hidden>
                        <input type="text" name="origen" value="aprobados" hidden>
                        <input type="text" name="archivo" value="{{archivoA[1]}}" hidden>
                        <div class="row">
                          
                          <div class="col-6">
                            <select name="destino">
                                <option title="PROVEEDORES" value="PROVEEDORES">P</option>
                                <option title="SERVICIOS" value="SERVICIOS">S</option>
                                <option title="PAGO DIRECTO" value="DIRECTO">D</option>
                            </select>
                            <!--
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="destino" id="flexRadioDefault1" title="PROVEEDORES" value="PROVEEDORES" checked>
                              <label class="form-check-label" for="flexRadioDefault1" >
                                P
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="destino" id="flexRadioDefault2" title="SERVICIOS" value="SERVICIOS">
                              <label class="form-check-label" for="flexRadioDefault2" >
                                S
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="destino" id="flexRadioDefault3" title="PAGO DIRECTO" value="DIRECTO">
                              <label class="form-check-label" for="flexRadioDefault3" >
                                D
                              </label>
                            </div>--> 
                          </div>
                            

                          <div class="col-6">
                            <button type="submit" class="btn btn-outline-success btn-sm" title="Liberar" onclick="cargarPagina()"><i class="fa fa-check"
                                ></i></button>
                          </div>
                          
                        </div>

                        <div id="modalBackground">
                          <div id="modalSpinner" class="spinner"></div>
                        </div>

                      </form>
                    </div>
                    
                  </div>
                </td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
        {% endif %}
      </div>
      <div class="col-12 col-md-1"></div>
      
    </div>
  </div>
  <br>
  <script>
    // Obtener el elemento input por su ID
    var miInput = document.getElementById('miOrigen');

    // Establecer el valor deseado
    miInput.value = "aprobados";
  </script>
  {% include 'pie.html' %}