</section>
<!--
<footer>
  
    <div class="row" style="width: 100%; padding-top: 1%;max-height: 100%;">
      <div style="width: 100%;background-color: rgb(212, 211, 211);"><br><br><br><br><br><br><br><br><br><br></div>
    </div>
    
  </footer>-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>

</body>

<script src="{{ url_for('static', filename='js/custom-file-input.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.custom-file-input.js')}}"></script>
<script src="../static/js/dataTable.js"></script>
<script>
  $(document).ready(function () {
    $('#miTabla').DataTable({
      "language": {
        "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
        "lengthMenu": "Mostrar _MENU_ entradas",
        "search": "Buscar:", // Cambia "Search" por "Buscando"
        "loadingRecords": "Cargando...",
        "paginate": {
          "first": "Primera",
          "last": "Ultima",
          "next": "Siguiente",
          "previous": "Anterior"
        }
      },
      "order": [
        [3, 'desc'] // Ordenar por la cuarta columna (índice 3) de forma ascendente
      ]
    });
  });
  $(document).ready(function () {
    $('#miTabla2').DataTable({
      "language": {
        "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
        "lengthMenu": "Mostrar _MENU_ entradas",
        "search": "Buscar:", // Cambia "Search" por "Buscando"
        "loadingRecords": "Cargando...",
        "paginate": {
          "first": "Primera",
          "last": "Ultima",
          "next": "Siguiente",
          "previous": "Anterior"
        }
      },
      "order": [
        [3, 'desc'] // Ordenar por la cuarta columna (índice 3) de forma ascendente
      ]
    });
  });
  function cargarPagina() {
      // Obtener el modal y el spinner
      var modal = document.getElementById('modalBackground');
      var spinner = document.getElementById('modalSpinner');

      // Mostrar el modal y el spinner
      modal.style.display = 'flex';
      spinner.style.display = 'block';

      // Deshabilitar el botón de envío para evitar múltiples envíos
      document.querySelector('button[type="submit"]').disabled = true;

      // Enviar el formulario después de una demora simulada (puedes ajustar el valor)
      setTimeout(function() {
        // Puedes ocultar el modal y el spinner después de enviar el formulario
        // Aquí, he dejado el código para simular el envío del formulario después de 3 segundos
        document.getElementById('miFormulario').submit();
      }, 1000); // Simulación de 3 segundos, ajusta según sea necesario
    }
    function cargarPaginaSubir() {
      // Obtener el modal y el spinner
      var modal = document.getElementById('modalBackground');
      var spinner = document.getElementById('modalSpinner');

      // Mostrar el modal y el spinner
      modal.style.display = 'flex';
      spinner.style.display = 'block';

      // Deshabilitar el botón de envío para evitar múltiples envíos
      document.querySelector('button[type="submit"]').disabled = true;

      // Enviar el formulario después de una demora simulada (puedes ajustar el valor)
      setTimeout(function() {
        // Puedes ocultar el modal y el spinner después de enviar el formulario
        // Aquí, he dejado el código para simular el envío del formulario después de 3 segundos
        document.getElementById('miFormularioSubir').submit();
      }, 3000); // Simulación de 3 segundos, ajusta según sea necesario
      window.close();
    }
    
</script>

</html>