
{% include 'cabecera.html' %}
  <br>

  {% if usuario %}

  <div class="container-fluid">
    {% for archivo in archivos %}
    <div class="modal fade" id="detalleModal{{ archivo[0] }}" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel{{ archivo[0] }}" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="detalleModalLabel{{ archivo[0] }}">Detalle del Archivo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <textarea rows="5" cols="50">{{ archivo[10] }}</textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for archivoA in archivosA %}
    <div class="modal fade" id="detalleModal{{ archivoA[0] }}" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel{{ archivoA[0] }}" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="detalleModalLabel{{ archivoA[0] }}">Detalle del Archivo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <textarea rows="5" cols="50">{{ archivoA[10] }}</textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="row">
      <div class=" col-md-6 offset-md-3 text-center">
        {% with messages= get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {% for message in messages %}{{ message }}{% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        
        

        <!-- Modal -->
        {% include 'subir_archivo.html' %}
      </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
      <div class="col-12 col-md-2"></div>
      <div class="col-12 col-md-8 ">
        <div class="table-responsive" style="background-color: white; border-radius: 10px;padding: 10px;margin: 10px; min-width: 710px;">
          <h3>Proveedores</h3>
          <table class="table  table-bordered text-center table-hover" id="miTabla">
            <thead class="thead-dark">
              <tr>
                <th style="color: rgb(127, 221, 33);"><i class="fas fa-globe"></i> Centro</th>
                <th style="color: rgb(127, 221, 33);"><i class="fas fa-truck"></i> Proveedor</th>
                <th style="color: rgb(127, 221, 33);"><i class="fas fa-file"></i> Nro factura</th>
                <th style="color: rgb(127, 221, 33);"><i class="fas fa-calendar"></i> Fecha FC</th>
                <th style="color: rgb(127, 221, 33);"><i class="fas fa-edit"></i> Detalle</th>
                <th style="color: rgb(127, 221, 33);"><i class="fad fa-ballot-check"></i>Opciones</th>
                <th style="color: rgb(127, 221, 33);"><i class="fad fa-sack-dollar"></i>Pagado</th>

              </tr>
            </thead>
            <tbody>

              {% for archivoA in archivosA %}

              <tr>
                <td> {{ archivoA[5] }}</td>
                <td> {{ archivoA[4] }}</td>
               
                <td style="color: rgb(33, 61, 221);">{{ archivoA[6] }}</td>
                <td> {{ archivoA[9] }}</td>
                <td>
                  <p hidden>{{ archivoA[10] }}</p>
                  <a href="#" data-toggle="modal" data-target="#detalleModal{{ archivoA[0] }}" class="btn btn-outline-secondary btn-sm">Detalle</a>
                </td>
                <td>
                  <div class="row">
                    <div class="col">
                        <form action="/verPdf" method="post" enctype=multipart/form-data target="_blank" rel="noopener noreferrer">
                            <input type="text" name="id_archivo" value="{{archivoA[0]}}" hidden>
                            <input type="text" name="id" value="{{id}}" hidden>
                            <button type="submit" class="btn  btn-outline-info btn-sm" title="Ver archivo"><i
                                    class="fas fa-eye fa-lg" title="Ver"></i></button>
                        </form>
                    </div>
                    <div class="col">
                        <!-- Botón para abrir el modal de confirmación -->
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#eliminarModal{{ archivoA[0] }}">
                            <i class="fas fa-trash fa-lg"></i>
                        </button>
                
                        <!-- Modal de confirmación -->
                        <div class="modal fade" id="eliminarModal{{ archivoA[0] }}" tabindex="-1" role="dialog" aria-labelledby="eliminarModalLabel{{ archivoA[0] }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="eliminarModalLabel{{ archivoA[0] }}">Confirmar Eliminación</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Estás seguro de que deseas eliminar este registro "{{archivoA[8]}}"?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <!-- Botón para confirmar la eliminación -->
                                        <form action="/eliminarArchivo" method="post" enctype=multipart/form-data>
                                          <input type="text" name="origen" value="proveedores" hidden>
                                            
                                            <input type="text" name="id" value="{{id}}" hidden>
                                            <input type="text" name="archivo" value="{{archivoA[1]}}" hidden>
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin del modal de confirmación -->
                    </div>
                  </div>
                  </td>
                  <td>
                    {% include 'modalProveedoresLP.html' %}
                    <!--
                      {% if archivoA[7] == "PAGADO" %}
                      <div class="form-check form-switch">
                        <form action="/actualizar_estado"  method="post" enctype=multipart/form-data>
                          <input type="text" value="LIBERADO" name="estado" hidden>
                          <input type="text" value="{{archivoA[0]}}" name="id_archivo" hidden>
                          <input type="text" value="{{usuario.id}}" name="id_usuario" hidden>
                          <button type="submit" class="btn btn-success btn-sm">{{archivoA[7]}}</button>
                        </form>
                      </div>
                      {% endif %}
                      {% if archivoA[7] != "PAGADO" %}
                      <div class="form-check form-switch">
                        <form action="/actualizar_estado"  method="post" enctype=multipart/form-data>
                          <input type="text" value="PAGADO" name="estado" hidden>
                          <input type="text" value="{{archivoA[0]}}" name="id_archivo" hidden>
                          <input type="text" value="{{usuario.id}}" name="id_usuario" hidden>
                          <button type="submit" class="btn-outline-success">{{archivoA[7]}}</button>
                        </form>
                      </div>
                      {% endif %}
                      -->
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>

      </div>
      <div class="col-12 col-md-2"></div>



      {% endif %}
    </div>
  </div>
  <script>
    // Obtener el elemento input por su ID
    var miInput = document.getElementById('miOrigen');

    // Establecer el valor deseado
    miInput.value = "proveedores";
  </script>
  {% include 'pie.html' %}